<section class="weather">
  <h2 class="weather__location">{{forecast.city}}, {{forecast.country}}</h2>
  <a href="/" id="weather__locationLink">Change Location</a>
  <div class="weather__temperature">{{forecast.temperature}} °C</div>
  <div class="weather__details">
    <div class="weather__description">{{forecast.description}}</div>
    <figure class="weather__image">
      <img src="{{forecast.icon}}" alt="{{forecast.description}} icon" class="weather__icon">
    </figure>
  </div>
</section>